.scrollable-menu:first-of-type + ul {
  overflow: scroll;
  max-height: 300px;
}

.typeahead-border-radius-0 > div > input {
    border-radius: 0;
}

.date-picker-radius-4 input {
    border-radius: 4px 0 0 4px !important;
}
